.sku-top {
    display: flex;
    align-items: center;
    margin: 8px 0;
    border-radius: 6px;
    height: 60px;
    border: 1px solid #C5C5C59C;
}

.sku-top > img {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 60px;
    height: 60px;
}

.sku-top.headline {
    background-color: #FFE7BD;
    height: 80px;
}

.sku-top.headline > img {
    width: 80px;
    height: 80px;
}

.info-produk {
    margin: 0 auto;
    padding: 4px 8px;
    width: 100%;
}

.info-produk > p {
    size: 20px;
    color: #000000DE;
}


.info-terjual {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4px;
}

.info-terjual > p {
    color: #00000099;
    font-size: 12px;
}

.info-produk.font-20px > p {
    font-size: 20px;
}

.info-terjual.font-12px > p {
    font-size: 14px;
}

