.average-purchase-container {
    width: 640px;
    height: 424px;
    background-color: #fff;
    padding: 24px;
    border-radius: 2px;
}

.average-purchase-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

select {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 3px #0000000D;
    border: 1px solid #D7DAE2;
    border-radius: 2px;
    opacity: 1;
    font-family: 'Source Sans Pro', sans-serif;
    color: #00000099;
}